/** VARIABLES **/

:root {
    --font-family-1: 'Poppins', sans-serif;
    --font-family-2: 'Prompt', sans-serif;
    --fill-colour-purple: #810d7b;
    --fill-colour-purple-2: #7c0c92;
    --text-colour-white: #fff;
    --text-colour-black: #000;
    --text-colour-gray: #a09e9e;
}


/********** INDEX.HTML PAGE CSS **********/

body {
    background-color: #252525;
    overflow: hidden;
}

h1 {
    font-family: var(--font-family-1);
    color: var(--text-colour-white);
    text-align: center;
}

p {
    text-align: center;
    padding: 15px;
    color: var(--text-colour-gray);
    font-family: var(--font-family-2);
    text-decoration: underline;
}

button {
    font-family: var(--font-family-2);
}

.login-btn {
    position: relative;
    background-color: var(--fill-colour-purple-2);
    border: none;
    color: var(--text-colour-white);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 300px 450px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.login-btn:hover {
    background-color: var(--text-colour-white);
    color: var(--fill-colour-purple-2);
    transition: ease-in-out 0.3s;
}

.signup-btn {
    position: relative;
    background-color: var(--fill-colour-purple-2);
    border: none;
    color: var(--text-colour-white);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
    left: -250px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.signup-btn:hover {
    background-color: var(--text-colour-white);
    color: var(--fill-colour-purple-2);
    transition: ease-in-out 0.3s;
}


/** SHAPE DIVIDERS **/


/** TOP **/

.top-shape-divider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.top-shape-divider svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 144px;
}

.top-shape-divider .shape-fill {
    fill: var(--fill-colour-purple);
}


/** FOOTER **/

.bottom-shape-divider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.bottom-shape-divider svg {
    position: relative;
    display: block;
    width: calc(147% + 1.3px);
    height: 177px;
}

.bottom-shape-divider .shape-fill {
    fill: var(--fill-colour-purple);
}